<% include header %>
<div class="front-container">
  <div class="front-wrapper">
    <div class="container column">
      <div class="center">
        <!-- 正文 -->
        <div class="center-container">
          <div class="go-back">
            < 返回首页</div>
              <div class="send-div">
                <div class="detail-head">
                  <div class="head-title"></div>
                  <div class="head-info">
                    <span class="time"></span>
                    <span class="author"></span>
                  </div>
                </div>
                <div class="detail-main">
                </div>
                <div class="create-time">
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/javascripts/detail.js"></script>
  <% include footer %>